<polymer-element name="op-scrollbar" attributes="scrollValue">
<template>
    <style>
      :host {
        box-sizing: border-box;
        display: inline-block;
        height: 100%;
        width: 40px;
        padding: 15px 0;
        background: white url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAH0lEQVQIW2N88uTJfxkZGUYGKAAzkAXhMjBBuABMJQAcEw+wNWdL0QAAAABJRU5ErkJggg==);
      }
      #bar {
        position: relative;
        margin-left: 18px;
        width: 4px;
        height: 100%;
        background: #b0afaf;
        border-radius: 2px;
      }
      #knob{
        position: absolute;
        top: 0;
        left: -13px;
        width: 30px;
        height: 30px;
        background-color: #bdcd00;
        border-radius: 50%;
        box-shadow: 0 2px 4px rgba(0,0,0,0.4);
        cursor: pointer;
        user-select: none;
      }
    </style>
    <div id="bar">
      <div id="knob" on-trackstart="{{trackStart}}" on-tracky="{{tracky}}"></div>
    </div>
</template>
<script>
Polymer({

  publish: {
    scrollValue: { reflect: true }
  },

  trackStart: function(e) {
    this.height = this.$.bar.offsetHeight;
    this.y = e.dy;
    this.initialscrollValue = this.scrollValue;
  },

  tracky: function(e) {
    var y = e.dy;
    var d = y - this.y;
    var p = d / this.height * 100;
    var v = this.initialscrollValue + p;
    this.scrollValue = Math.max(0, Math.min(100, v));
  },

  scrollValueChanged: function(){
    this.$.knob.style.top = 'calc(' + this.scrollValue + '% - 15px)';
  }
});
</script>
</polymer-element>
