<polymer-element name="op-scrollpanel" attributes="scroll">
  <template>
    <style>
      :host {
        display: block;
        padding: 0;
        height: 100%;
        width: 100%;
        overflow: hidden;
        position: relative;
      }
      ::content > *{
        position: absolute;
        top: 0px;
        left: 0px;
        bottom: 0px;
        right: 25px;
      }
      #outer {
        padding: 0 15px 0 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        position: relative;
      }
      op-scrollbar{
        position: absolute;
        right: 0;
      }
    </style>

    <content></content>
    <op-scrollbar id="scrollbar" scrollValue="{{scrollValue}}"></op-scrollbar>
  </template>
  <script>
  Polymer({
    ready: function(){
      var self = this;

      var xs = this.shadowRoot.querySelector("content").getDistributedNodes();
      var contentArr =  [].filter.call(xs, function(x){
        return x.nodeType == 1;
      });

      this._content = contentArr[0] || {}
      this._content.addEventListener('scroll', function(e){
        self.scrolled(e);
      })

      this.$.scrollbar.addEventListener('tracky', function(e){
        self.tracky();
      })
    },

    scrollValue: 0,

    resetScroll: function(){
        if(this.scrollValue != 0){
          this.scrollValue=0;
          this._content.scrollToGroup(0);
        }
    },

    scrolled: function(e){

      var viewport = this._content.viewportSize()
      var offsetHeight = this._content.offsetHeight;

      this.scrollValue = 100 * this._content.scrollTop / (viewport - offsetHeight);
    },

    tracky: function(){
      var viewport = this._content.viewportSize()
      var offsetHeight = this._content.offsetHeight;

      this._content.scrollTop = (viewport - offsetHeight) * this.scrollValue  / 100;
    }


  });
  </script>
</polymer-element>
